<!-- <app-greet></app-greet> -->
<div class="container ">

    <h1 class="form-row form-group "><span class="badge badge-secondary">AppComponent</span></h1>
    <div class="container">
        <div class="row form-group">
            <div class=" col form-group">
                <button class="btn btn-outline-danger" routerLink="child1"> Child 1</button>
            </div>
            <div class="col form-group">
                <button class="btn btn-outline-danger" routerLink="eagarchild"> EagerChild</button>
            </div>
            <div class="col form-group">
                <button class="btn btn-outline-danger" routerLink="lazychild"> Lazy Child 1</button>
            </div>
            <div class="col form-group">
                <button class="btn btn-outline-danger" routerLink="lazychild2"> Lazy Child 2</button>
            </div>
            <div class="col form-group">
                <button class="btn btn-outline-danger " routerLink=""> Home </button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>